.icon {
  width: 20px;
  height: 20px;
  &--actions {
    @include media("tablet") {
      width: 27px;
      height: 27px;
    }
    @include media("desktop") {
      width: 36px;
      height: 36px;
    }
  }
  &--search {
    fill: rgba(0, 0, 0, 0.2);
    @include media("tablet") {
      fill: $color-black;
    }
  }
  &--swiper {
    display: none;
    @include media("tablet") {
      display: block;
      width: 16px;
      height: 30px;
    }
    @include media("desktop") {
      width: 40px;
      height: 74px;
    }
  }
  &--social {
    fill: $color-brown-light;
    @include media("desktop") {
      width: 37px;
      height: 37px;
    }
  }
  &--swiper,
  &--social {
    &:hover {
      fill: $color-tomato-light;
    }
  }
  &--twitter,
  &--youtube {
    stroke: $color-brown-light;
    &:hover {
      stroke: $color-tomato-light;
    }
  }
}
