* {
  padding: 0;
  margin: 0;
  &,
  &::after,
  &::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
