$color-black: #000000;
$color-brown-dark: #35312D;
$color-arrow-inactive: #202020;
$color-tomato: #C62100;
$color-tomato-light: #F16A50;
$color-brown-light: #F8F1EA;
$color-dot-inactive: rgba(248, 241, 234, 0.7);
$color-dark-dot-inactive: #CAC2BA;

$font-main: "Montserrat", sans-serif;